:root {
    --Main_Color: #10cab7;
    --Secondary_Color: #2c4755;
    --Section_Padding: 60px;
    --Section_Background: #f6f6f6;
    --Main_Duration: 0.3s;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(0, 0, 0);
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* ----------------------------------------------------------------------------- */
/* Components */
.Special_Heading {
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
}

.Special_Heading+p {
    margin: -30px 0 0;
    font-size: 17px;
    text-align: center;
    color: #575757;
}

@media (max-width: 767px) {
    .Special_Heading {
        font-size: 60px;
    }

    .Special_Heading+p {
        margin-top: -20px;
    }
}

/* ----------------------------------------------------------------------------- */
/* Start Header */
.Header {
    padding: 20px;
}

.Header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Header .container .logo {
    width: 60px;
}

.Header .links {
    position: relative;
}

.fa-solid {
    font-size: 28px;
    color: #333;
}

.Header .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
}

.Header .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}

.Header .links:hover ul {
    display: block;
}

.Header .links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: 0.3s;
}

.Header .links ul li a:hover {
    padding-left: 25px;
}

.Header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
}

/* End Header */
/* ----------------------------------------------------------------------------- */
/* Start landing */
.landing {
    background-image: url(../images/landing.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}

.landing .introText {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 320px;
    max-width: 100%;
}

.landing .introText h1 {
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: var(--Main_Color);
}

.landing .introText p {
    font-size: 16px;
    line-height: 1.8;
}

/* End Landing */
/* ----------------------------------------------------------------------------- */
/* Start features */
.features {
    padding: 60px 0;
    background-color: #f6f6f6;
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

.features .feat {
    padding: 20px;
    text-align: center;
    transition: 0.3s;
}

.features .feat:hover {
    box-shadow: 2px 5px 12px 6px #ebebeb;
}

.features .feat i {
    color: var(--Main_Color);
    font-size: 50px;
}

.features .feat h3 {
    font-weight: 800;
    margin: 30px 0;
    color: #2c4755;
}

.features .feat p {
    line-height: 1.8;
    color: #777;
    font-size: 17px;
}

/* End features */
/* ----------------------------------------------------------------------------- */
/* Start Services */
.Services {
    padding: 60px 0;
}

.Services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;
}

.Services .services-content .srv {
    display: flex;
    margin-bottom: 40px;
    transition: 0.3s;
    /* box-shadow: 2px 5px 12px 6px #ebebeb; */
}

.Services .services-content .srv:hover {
    box-shadow: 3px 10px 12px 0px #ebebeb;
}

@media (max-width: 767px) {
    .Services .services-content .srv {
        flex-direction: column;
        text-align: center;
    }
}

.Services .services-content .srv i {
    color: var(--Main_Color);
    font-size: 35px;
    flex-basis: 60px;
}

.Services .services-content .srv .text {
    flex: 1;
}

.Services .services-content .srv .text h3 {
    margin: 0 0 20px;
    color: #2c4755;
}

.Services .services-content .srv .text p {
    color: #777;
    font-weight: 300;
    line-height: 1.6;
}

.Services .services-content .image {
    text-align: center;
    position: relative;
}

.Services .services-content .image::before {
    content: "";
    background-color: var(--Secondary_Color);
    width: 85px;
    height: calc(100% + 100px);
    top: -50px;
    position: absolute;
    right: 10px;
    z-index: -1;
}

.Services .services-content .image img {
    width: 260px;
}

@media (max-width: 1199px) {
    .image-column {
        display: none;
    }
}

/* End Services */
/* ----------------------------------------------------------------------------- */
/* Start Portfolio */
.Portfolio {
    padding: 60px 0;
    background-color: #f6f6f6;
}

.Portfolio .Portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;
}

.Portfolio .Portfolio-content .card {
    background-color: white;
    transition: 0.3s;
}

.Portfolio .Portfolio-content .card:hover {
    box-shadow: 3px 10px 12px 0px #ebebeb;
}

.Portfolio .Portfolio-content .card img {
    max-width: 100%;
}

.Portfolio .Portfolio-content .card .info {
    padding: 20px;
}

.Portfolio .Portfolio-content .card .info h3 {
    margin: 0;
    color: #2c4755;
}

.Portfolio .Portfolio-content .card .info p {
    color: #777;
    line-height: 1.6;
    margin-bottom: 0;
}

/* End Portfolio */
/* ----------------------------------------------------------------------------- */
/* Start About */



/* End About */
/* ----------------------------------------------------------------------------- */
/* Start Contact */
.contact {
    padding: var(--Section_Padding) 0;
    background-color: var(--Section_Background);
}

.contact .info {
    padding-top: var(--Section_Padding) 0;
    text-align: center;
}

.contact .info .label {
    font-size: 35px;
    font-weight: 800;
    color: var(--Secondary_Color);
    letter-spacing: -2px;
    margin-bottom: 15px;
}

.contact .info .link {
    display: block;
    font-size: 35px;
    font-weight: 800;
    color: var(--Main_Color);
    text-decoration: none;
}

.contact .info .social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
}

.contact .info .social i {
    margin-left: 10px;
    color: var(--Secondary_Color);
}

@media (max-width: 767px) {

    .contact .info .label,
    .contact .info .link {
        font-size: 25px;
    }
}

/* End Contact */
/* ----------------------------------------------------------------------------- */
/* Start Footer */
.footer {
    background-color: var(--Secondary_Color);
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
}

.footer span {
    font-weight: bold;
    color: var(--Main_Color);
}

/* End Footer */
/* ----------------------------------------------------------------------------- */